@using SiteGenerator.Models
@inherits RazorEngine.Templating.TemplateBase<IndexModel>
@{
    Layout = "Templates._Layout";
}

@section Head{
    <title>@(Model.FullName): @(Model.Tagline)</title>
    <meta name="description" content="@(Model.FullName): @(Model.Tagline)" />
    <meta property="og:site_name" content="@(Model.FullName)" />
    <meta property="og:title" content="@(Model.FullName) : Personal Homepage" />
    <meta property="og:url" content="@(Model.Domain)" />
    <meta property="og:description" content="@(Model.Tagline)" />
    @if (Model.ProfileImageSrc != null)
    {
        <meta property="og:image" content="@(Model.Domain)@(Model.ProfileImageSrc)" />
    }
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="@(Model.FirstName)" />
    <meta property="profile:last_name" content="@(Model.LastName)" />
}

<div class="jumbotron">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-sm-6">
                <h1>@(Model.FullName)</h1>
                <p class="lead">
                    @(Model.Tagline)
                </p>
            </div>
            <div class="col-6 col-sm-3">
                <img src="@(Model.ProfileImageSrc)" alt="Professional photo of @(Model.FullName)" class="profile-image img-fluid" />
            </div>
            <div class="col-6 col-sm-3">
                <h4>
                    Get in touch
                </h4>
                <ul class="list-unstyled mb-0">
                    @if (Model.EmailAddress != null)
                    {
                        <li class="d-flex align-items-center mb-1">
                            <i class="sprite sprite-gmail"></i>
                            <a href="mailto:@(Model.EmailAddress)?subject=Contract opportunity" target="_blank">
                                Email me
                            </a>
                        </li>
                    }
                    @if (Model.LinkedInUrl != null)
                    {
                        <li class="d-flex align-items-center mb-1">
                            <i class="sprite sprite-linkedin"></i>
                            <a href="@(Model.LinkedInUrl)" target="_blank">
                                <span class="d-none d-xl-inline">Connect with me on </span>LinkedIn
                            </a>
                        </li>
                    }
                    @if (Model.GitHubUsername != null)
                    {
                        <li class="d-flex align-items-center mb-1">
                            <i class="sprite sprite-github"></i>
                            <a href="https://github.com/@(Model.GitHubUsername)" target="_blank">
                                <span class="d-none d-xl-inline">View my projects on </span>GitHub
                            </a>
                        </li>
                    }
                    @if (Model.TwitterUsername != null)
                    {
                        <li class="d-flex align-items-center mb-1">
                            <i class="sprite sprite-twitter"></i>
                            <a href="https://twitter.com/@(Model.TwitterUsername)" target="_blank">
                                <span class="d-none d-xl-inline">Follow me on </span>Twitter
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-12 text-center mb-3">
            <h2>@(Model.Intro)</h2>
        </div>
        <div class="col-12">
            <h3>How can I help you?</h3>
            <ul>
                @foreach (string line in Model.HowCanIHelpYou)
                {
                    <li>@(line)</li>
                }
            </ul>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <h3>I use a wide variety of tools, but these are my favourites:</h3>
        </div>
        <div class="col-sm-6">
            <h4>Front end</h4>
            <ul class="list-unstyled">
                @foreach (ToolModel tool in Model.FrontEndTechnologies)
                {
                    <li class="d-flex align-items-center mb-1">
                        <img class="logo" src="@(tool.ImageSrc)" />
                        @(tool.Name)
                    </li>
                }
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>Back end</h4>
            <ul class="list-unstyled">
                @foreach (ToolModel tool in Model.BackEndTechnologies)
                {
                    <li class="d-flex align-items-center mb-1">
                        <img class="logo" src="@(tool.ImageSrc)" />
                        @(tool.Name)
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Architecture, Infrastructure</h4>
            <ul class="list-unstyled">
                @foreach (ToolModel tool in Model.Architectures)
                {
                    <li class="d-flex align-items-center mb-1">
                        <img class="logo" src="@(tool.ImageSrc)" />
                        @(tool.Name)
                    </li>
                }
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>Development practices</h4>
            <ul class="list-unstyled">
                @foreach (ToolModel tool in Model.DevelopmentPractices)
                {
                    <li class="d-flex align-items-center mb-1">
                        <img class="logo" src="@(tool.ImageSrc)" />
                        @(tool.Name)
                    </li>
                }
            </ul>
        </div>
    </div>

    <hr />

    <div class="row d-flex align-items-center">
        <div class="col-3 col-sm-2">
            <img src="/img/chat.svg" />
        </div>
        <div class="col-9 col-sm-10">
            <h3 class="mb-3">Want to discuss your development needs?</h3>
            <p>
                Best way to get in touch is to email me at
                <b><a href="mailto:@(Model.EmailAddress)?subject=Contract opportunity" target="_blank">@(Model.EmailAddress)</a></b>
                and we can arrange a time to chat.
            </p>
        </div>
    </div>
</div>
<hr />
<footer class="container">
    <p class="small mb-0">
        &copy; @System.DateTime.Now.Year - @(Model.FullName). <span class="company-name">@(Model.CompanyName ?? Model.Domain)</span>, company number @(Model.CompanyNumber).
    </p>
</footer>
